/* Page wide Settings */
body {
  font-family: 'Roboto', sans-serif;
  color: #4c5667;
  background: #fff;
  margin: 0; 
  padding: 0;
}

html{ margin:0; padding: 0; }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 { font-size: 3em; padding-top: 1em; }
h4 { font-size: 1.2em; }


/* Fn Settings */
.fn-container{ width: 100%: } 
.fn-content{ text-align:center; width: 50em; margin-right:auto; margin-left:auto; }

#fn-wave {height:120px; vertical-align:baseline; margin: 1em 0em 2em 0em; }


#overview{ height: 700px; background: #ffffff;} /* First overview section */
#get-started{ height: 500px; background: #EBF4FA;} /* Get Started Section */


/*======= Responsive ======*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}


@media (max-width: 767px) {
  .fn-content{ text-align:center; width: 100%; margin-right:auto; margin-left:auto; }
  #overview{ margin-top: 10em; }
  #top-logo{display: none; }
}
