/* Page wide Settings */
body {
  font-family: 'Roboto', sans-serif;
  color: #4c5667;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 { font-size: 4em; }
h4 { font-size: 1.2em; }


/* Fn Settings */
.fn-container{ width: 100%: } 
.fn-content{ text-align:center; width: 50em; margin-right:auto; margin-left:auto; }

#fn-wave {height:120px; vertical-align:baseline; margin: 2em 0em 4em 0em; }


#overview{ height: 60em; background: #ffffff;} /* First overview section */
#get-started{ height: 50em; background: #EBF4FA;} /* Get Started Section */


/*======= Responsive ======*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}


@media (max-width: 767px) {
  .blog-wrapper .blog-item {
    width: 100%;
  }
  .logo {
    margin-top: 7px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
  .intro-form,.video-bar {
    margin-top: 50px;
  }
}
